#postListContainer {
    display: flex;
    width: 100vw;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 15px;
}

.postContainer {
    display: flex;
    flex-direction: column;
    width: 650px;
    border: 1px solid black;
    margin-top: 5px;
    padding: 15px;
}

#tagContainer {
    display: flex;
    flex-direction: row;
}

#tagContainer {
    display: flex;
    flex-direction: row;
}

#postReaction {
    margin-left: 37px;
    padding: 3px;
}

.postFooter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.postPageHeader {
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 1px solid black;
    margin-top: 5px;
    padding: 15px;
}